<div id="main" style="width:100%;" class="biankuang">
    <div id="left" style="width:20%;float:left;" class="biankuang sbj">
      <a class="btn btn-primary btn-block"  [routerLink]="['/management']">用户管理</a>
      <a class="btn btn-primary btn-block"  [routerLink]="['/product']">学生成绩管理</a>
      <a class="btn btn-primary btn-block"  [routerLink]="['/usermanagment']">退出</a>
    </div>
    <div id="right" style="width:80%;float:left;" class="biankuang sbj">
        <a class="btn btn-danger btn-block"  [routerLink]="['/home']">退出</a>
    </div>
    </div>
